#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  /* border: 1px solid red; */
}

main {
  position: relative;
}

.read-the-docs {
  color: #888;
}

.cardTile {
  width: 240px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cardName,
.cardImg {
  border: 1px solid black;
}

.cardImg img {
  width: 100%;
  height: auto;
}

.cardName {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.cardImg {
  border-bottom: none;
}

.cards {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 0.2em;
}

footer {
  border-top: 2px solid var(--borderColor);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}

.links img {
  width: 3rem;
  height: auto;
}

/* .title {
  position: relative;
} */

.stickyHeader {
  position: sticky;
  top: 0; /* Adjust the value to control the sticky position */
  background-color: white; /* Add background color if needed */
  display: grid;
  grid-template-rows: repeat(1fr);
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  align-items: center;
}

.read-the-docs {
  grid-area: 1/2/2/3;
}

.scoreBoard {
  margin-left: 4em;
  grid-area: 1/3/2/4;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.scoreBoard p {
  display: flex;
  justify-content: space-between;
}

.loadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.loadingMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
